p {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #620096;
}

.container {
    width: 90vw;
    height: 85vh;

    display: flex;

    background: white;
    border-radius: 15px;

    margin: 30px auto;
}

.container_left {
    width: 18%;
    background: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
}

.container_right {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}